*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

html {
    font-size: 18px;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    color: white;
}

body {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 3rem;
}

main {
    width: 28rem;
    max-width: 100%;
    padding: 1rem;
    background-color: rgba(20, 20, 20, .7);
    border-radius: .3rem;
}

h1 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.3;

    margin-bottom: 1.75rem;
}

p {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

a {
    text-decoration: underline;
    color: inherit;
    font-weight: 700;
}

a:hover {
    color: #e6d57b;
}

@media (max-width: 699px) {
    body {
        padding: 1rem;
    }
}
